<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logservlet</servlet-name>
        <servlet-class>Controller.Logservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adduser</servlet-name>
        <servlet-class>Controller.Adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Controller.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>Controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controller.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet1</servlet-name>
        <servlet-class>Controller.AddServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete1</servlet-name>
        <servlet-class>Controller.delete1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logservlet</servlet-name>
        <url-pattern>/Logservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adduser</servlet-name>
        <url-pattern>/Adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet1</servlet-name>
        <url-pattern>/AddServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete1</servlet-name>
        <url-pattern>/delete1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
